# packages in environment at /home/pranav/anaconda3/envs/BrainBox:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
_openmp_mutex             5.1                       1_gnu  
aiohappyeyeballs          2.4.4           py312h06a4308_0  
aiohttp                   3.11.10         py312h5eee18b_0  
aiosignal                 1.2.0              pyhd3eb1b0_0  
annotated-types           0.6.0           py312h06a4308_0  
anyio                     4.7.0           py312h06a4308_0  
attrs                     24.3.0          py312h06a4308_0  
blas                      1.0                         mkl  
bottleneck                1.4.2           py312ha883a20_0  
brotli-python             1.0.9           py312h6a678d5_9  
bzip2                     1.0.8                h5eee18b_6  
ca-certificates           2025.2.25            h06a4308_0  
certifi                   2025.4.26       py312h06a4308_0  
charset-normalizer        3.3.2              pyhd3eb1b0_0  
click                     8.1.8           py312h06a4308_0  
dataclasses-json          0.6.7           py312h06a4308_0  
expat                     2.7.1                h6a678d5_0  
frozenlist                1.5.0           py312h5eee18b_0  
greenlet                  3.1.1           py312h6a678d5_0  
h11                       0.16.0          py312h06a4308_0  
httpcore                  1.0.9           py312h06a4308_0  
httpx                     0.28.1          py312h06a4308_0  
httpx-sse                 0.4.0           py312h06a4308_0  
idna                      3.7             py312h06a4308_0  
intel-openmp              2023.1.0         hdb19cb5_46306  
jsonpatch                 1.33            py312h06a4308_1  
jsonpointer               2.1                pyhd3eb1b0_0  
langchain                 0.3.25          py312h06a4308_0  
langchain-community       0.3.12          py312h06a4308_0  
langchain-core            0.3.58          py312h06a4308_0  
langchain-text-splitters  0.3.8           py312h06a4308_0  
langsmith                 0.1.147         py312h06a4308_0  
ld_impl_linux-64          2.40                 h12ee557_0  
libffi                    3.4.4                h6a678d5_1  
libgcc-ng                 11.2.0               h1234567_1  
libgomp                   11.2.0               h1234567_1  
libstdcxx-ng              11.2.0               h1234567_1  
libuuid                   1.41.5               h5eee18b_0  
libxcb                    1.17.0               h9b100fa_0  
marshmallow               3.19.0          py312h06a4308_0  
mkl                       2023.1.0         h213fc3f_46344  
mkl-service               2.4.0           py312h5eee18b_2  
mkl_fft                   1.3.11          py312h5eee18b_0  
mkl_random                1.2.8           py312h526ad5a_0  
multidict                 6.1.0           py312h5eee18b_0  
mypy_extensions           1.0.0           py312h06a4308_0  
ncurses                   6.4                  h6a678d5_0  
numexpr                   2.10.1          py312h3c60e43_0  
numpy                     2.0.1           py312hc5e2394_1  
numpy-base                2.0.1           py312h0da6c21_1  
openssl                   3.0.16               h5eee18b_0  
orjson                    3.10.14         py312h4aa5aa6_0  
packaging                 24.2            py312h06a4308_0  
pandas                    2.2.3           py312h6a678d5_0  
pip                       25.1               pyhc872135_2  
propcache                 0.3.1           py312h5eee18b_0  
pthread-stubs             0.3                  h0ce48e5_1  
pydantic                  2.10.3          py312h06a4308_0  
pydantic-core             2.27.1          py312h4aa5aa6_0  
pydantic-settings         2.6.1           py312h06a4308_0  
pysocks                   1.7.1           py312h06a4308_0  
python                    3.12.11              h22baa00_0  
python-dateutil           2.9.0post0      py312h06a4308_2  
python-dotenv             1.1.0           py312h06a4308_0  
python-tzdata             2025.2             pyhd3eb1b0_0  
pytz                      2024.1          py312h06a4308_0  
pyyaml                    6.0.2           py312h5eee18b_0  
readline                  8.2                  h5eee18b_0  
requests                  2.32.3          py312h06a4308_1  
requests-toolbelt         1.0.0           py312h06a4308_0  
setuptools                78.1.1          py312h06a4308_0  
six                       1.17.0          py312h06a4308_0  
sniffio                   1.3.0           py312h06a4308_0  
sqlalchemy                2.0.39          py312h00e1ef3_0  
sqlite                    3.45.3               h5eee18b_0  
tbb                       2021.8.0             hdb19cb5_0  
tenacity                  9.0.0           py312h06a4308_0  
tk                        8.6.14               h993c535_1  
typing-extensions         4.12.2          py312h06a4308_0  
typing_extensions         4.12.2          py312h06a4308_0  
typing_inspect            0.9.0           py312h06a4308_0  
tzdata                    2025b                h04d1e81_0  
urllib3                   2.3.0           py312h06a4308_0  
wheel                     0.45.1          py312h06a4308_0  
xorg-libx11               1.8.12               h9b100fa_1  
xorg-libxau               1.0.12               h9b100fa_0  
xorg-libxdmcp             1.1.5                h9b100fa_0  
xorg-xorgproto            2024.1               h5eee18b_1  
xz                        5.6.4                h5eee18b_1  
yaml                      0.2.5                h7b6447c_0  
yarl                      1.18.0          py312h5eee18b_0  
zlib                      1.2.13               h5eee18b_1  
